* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 600px;
  height: 400px;
  gap: 8px;
  margin: 40px 80px;
}


.image__animation {
  width: 350px;
  object-fit: cover;
  height: 200px;
  overflow: hidden;
  transition: 2s;
}

.image__animation:hover {
  transform: scale(1.1);
}


@keyframes image__animation{
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}

@media (max-width: 1120px) {
  .images {
    grid-template-columns: 1fr;
  }

  .image__animation {
    margin: auto;
    padding-top: 30px;
    border-radius: 20px;  
  }
}